.party-chip {
	font-family: 'inter', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	color: white;
	padding: 5px 8px;
	height: 24px;
	border-radius: 4px;
	margin: 0px;
	margin-right: 12px;
	background-color: #333333;
}

.gesamt {
	background-color: #636363;
}

.fraktionslos {
	background: #ffffff;
	color: #333333;
}

.bayernpartei {
	background: #ffffff;
	border: 2px solid #3aa6f4;
	color: #3aa6f4;
}

.freiewähler {
	background: #ffffff;
	border: 2px solid #fd820b;
	color: #2f5997;
}

.fdp {
	background-color: #faed0b;
	color: #181924;
}

.piraten {
	background: #ffb430;
	color: #181924;
}

.ödp {
	background: #fd820b;
}

.spd {
	background-color: #e95050;
}

.dielinke {
	background: #cd3e72;
}

.diepartei {
	background: #81323d;
}

.diegrünen {
	background-color: #61a056;
}

.afd {
	background: #3aa6f4;
}

.tierschutz {
	background: #2f5997;
}

.rep {
	background: #2f5997;
}

.npd {
	background: #a97d4f;
}

.cdu {
	background: #636363;
}
.cdu-csu {
	background: #636363;
}

.LINKE-1 {
	text-transform: capitalize;
	background-color: #cd3e72;
}

.AfD-1 {
	text-transform: capitalize;
	background-color: #3aa6f4;
}

.fraktionslos-1 {
	background-color: white;
	color: black;
}
