.party-chip {
	font-family: 'protipo', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	text-align: center;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	color: white;
	padding: 5px 8px;
	height: 24px;
	border-radius: 4px;
	margin: 0px;
	margin-right: 12px;
	background-color: #636363;
}

.gesamt-1 {
	background-color: #636363;
}

.cdu-1 {
	background-color: #636363;
}

.spd-1 {
	background-color: #e95050;
}

.fdp-1 {
	background-color: #faed0b;
	color: #181924;
}

.grüne-1 {
	background-color: #61a056;
}
