.sign-up-button {
	width: 30px;
	background-color: rgba(24, 25, 36, 1);
}

.sign-up-button img {
	width: 80%;
	height: auto;
	color: rgb(256, 256, 256);
	opacity: 0.3;
	margin-left: 12px;
}

.focussed img {
	opacity: 1;
}
