.votes-header-container {
	display: flex;
	height: 60px;
	width: 100%;
	align-items: center;
	color: #ffffff;
	background: #181924;
	font-family: 'inter';
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}

.votes-header-container > :last-child {
	position: absolute;
	right: 19px;
}

.vote-filter-title {
	font-family: Inter;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 21px;
	letter-spacing: -0.03em;
	color: #FFFFFF;
}

.votes-filter-fold {
	--background: #181924;
	--inner-border-width: 0px;
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 21px;
/* identical to box height */
	display: flex;
	align-items: center;
	letter-spacing: -0.03em;
/* white */
	color: #F8F8F8;
}

.vote-content-title {
	font-family: Inter;
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 15px;
	/* identical to box height */
	letter-spacing: 0.04em;
	text-transform: uppercase;
	/* white */
	color: #F8F8F8;
	opacity: 0.7;
}

.votes-topics {
	overflow-x: auto;
}

.votes-black-back {
	background-color: #181924;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.votes-vote-card {
	margin-bottom: 10px;
}
