# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/ios
/electron

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*


# pytest stuff
venv
__pycache__
.pytest_cache
geckodriver.log

# fake media stream
pytest/test_scan_video.*


#temp stuff
public/assets/font/
pytest/test_scan_video_iphone_x.mp4
pytest/test_scan_video_iphone_x_large.mp4
pytest/test_scan_video_large.mp4
src/components/CameraView/CameraView.puml
src/components/CameraView/Plan.md
src/components/mediaDevices.mock.tsx