build
coverage
ios
node_modules
electron
public
resources
PULL_REQUEST_TEMPLATE.md
.github

src/functions/iconChangeHandler.ts
src/functions/germanTranslator.ts
src/pages/ElectionChances.tsx
src/components/VoteCard/VoteCard.tsx
src/components/PoliticianProfile/PoliticianProfile.tsx