.container {
	display: flex;
	flex-direction: column;
	font-family: Inter;
	color: rgba(255, 255, 255, 1);
	font-size: 17px;
	font-style: normal;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.15px;
	text-align: center;
}

.name {
	margin-top: 8px;
	opacity: 0.7;
}

.link {
	color: rgba(255, 255, 255, 1);
	font-style: normal;
	text-decoration: none;
}
