.vote-details-infotext {
	background-color: #151515;
	height: 41px;
	font-family: 'Protipo' sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	color: #ffffff;
	letter-spacing: 0.7px;
	padding: 18.5px 54px 8.5px 15px;
	margin-bottom: -1px;
}
