.profile-black-back {
	background-color: #181924;
	padding-top: 6px;
	padding-bottom: 6px;
}

.profile-topic {
	margin-left: 12px;
}

.profile-header {
	max-height: 300px;
}

.vote-card-lists {
	display: flex;
	padding: 0px;
}
.vote-card-lists li {
	width: calc(100vw - 12px * 2 + 4px);
}
@media screen and (min-width: 360px) {
	.vote-card-lists li {
		width: calc(100vw - 16px * 2 + 12px);
	}
}

@media screen and (min-width: 414px) {
	.vote-card-lists li {
		width: calc(414px - 16px * 2 + 12px);
	}
}

ul.vote-card-lists,
ul.vote-card-lists li {
	margin: 0;
	padding: 0;
	scroll-snap-align: start;
}

ul.vote-card-lists {
	list-style-type: none;
	overflow: auto;
	margin: 0 auto;
	scroll-snap-type: x mandatory;
	overflow-y: hidden;
}

ul.vote-card-lists::-webkit-scrollbar {
	display: none;
}
