.middlebar-container {
	background-color: #181924;
	display: flex;
	align-items: center;
	padding: 13.5px 15px;
	border-top: 1px solid rgba(255, 255, 255, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.middlebar-left {
	display: flex;
	align-items: center;
}
.middlebar-left-sentence {
	font-family: 'inter';
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	color: #ffffff;
	width: 69px;
}

.middlebar-left-positioning {
	margin-left: 12px;
}

.middlebar-border {
	width: 1px;
	height: 29px;
	background-color: #ffffff;
	opacity: 0.3;
	margin-left: 12px;
}

.middlebar-border-android {
	width: 1px;
	height: 29px;
	background-color: #ffffff;
	opacity: 0.3;
	margin-left: 23.5px;
}

.middlebar-right {
	font-family: 'inter';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	margin-left: 12px;
	width: 120px;
}

.middlebar-right-android {
	font-family: 'inter';
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	margin-left: 23.5px;
}

@media screen and (min-width: 360px) {
	.middlebar-container {
		padding: 13.5px 19px;
	}
	.middlebar-right {
		width: 140px;
	}
}
