.position-card {
	background: #2a2b36;
	width: calc(100vw -32px);
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 16px;
	margin-right: 16px;
}
.position-card:first-of-type {
	margin-top: 16px;
}

.position-card-header {
	padding: 12px 16px;
}

@media screen and (min-width: 360px) {
	.position-card-header {
		padding: 16px;
	}
}
@media screen and (min-width: 992px) {
	.position-card {
		width: auto;
	}
}

.position-card-title {
	font-family: 'protipo', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: #ffffff;
}

.position-card-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.position-card-sub-content {
	display: flex;
	align-items: center;
}

.position-positioning {
	margin-right: 8px;
}

.position-card-button {
	opacity: 0.5;
}
