.discover-page {
	background-color: #1f1f1f;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.camera-icon-background {
	position: fixed;
	background-color: rgba(212, 212, 212, 0.5);
	width: 130px;
	height: 130px;
	border-radius: 20px;
	top: 30%;
	left: calc((100% - 130px) / 2);
}

#camera-square {
	position: fixed;
	width: 90px;
	margin: 20px;
}

#camera-icon {
	position: fixed;
	width: 50px;
	margin: 40px;
}

.search-bar {
	position: fixed;
	top: 60%;
	background-color: rgba(212, 212, 212, 0.7);
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	height: 50px;
	border-radius: 10px;
	padding-left: 18px !important;
	font-family: 'protipo', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: rgb(31, 31, 31);
}
.search-bar-icon {
	position: fixed;
	margin-left: 20px;
	margin-right: 20px;
	top: 55%;
	padding-left: 18px !important;
}

.popover {
	--width: 90vw;
	position: fixed;
	bottom: 20%;
}

.popover-content {
	background-color: red;
	left: 5% !important;
	top: 65% !important;
}

.ShowResults {
	height: 60vh;
	overflow: auto;
}
