.cdu span {
	background-color: #636363;
}
.spd span {
	background-color: #c24242;
}

.dielinke span {
	background-color: #c24271;
}
.diegrünen span {
	background-color: #599951;
}
.fdp span {
	background-color: #ffe926;
	color: black;
}
.afd span {
	background-color: #3aa6f4;
}
.piraten span {
	background-color: #dda22e;
}

.npd span {
	background-color: #636363;
}

.freiewähler span {
	background-color: #636363;
}

.election-chances-card.cdu {
	background-color: rgba(99, 99, 99, 50%);
}

.election-chances-card.afd {
	background-color: rgba(58, 166, 244, 30%);
}

.election-chances-card.dielinke {
	background-color: rgba(194, 66, 113, 30%);
}

.election-chances-card.spd {
	background-color: rgba(194, 66, 66, 30%);
}

.election-chances-card.diegrünen {
	background-color: rgba(89, 153, 81, 30%);
}

.election-chances-card.fdp {
	background-color: rgba(255, 233, 38, 30%);
}

.election-chances-card.npd {
	background-color: rgba(99, 99, 99, 50%);
}

.election-chances-card.freiewähler {
	background-color: rgba(99, 99, 99, 50%);
}

.election-chances-firstVote {
	border-top: 1px solid rgba(76, 78, 98, 1);
	padding-left: 19px;
	padding-top: 12px;
}

.election-chances-secondVote {
	background-color: rgba(42, 43, 54, 1);
	padding-left: 19px;
	padding-top: 16px;
}

.electionresult {
	font-family: IBM Plex Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3px;
	color: rgba(256, 256, 256, 0.7);
	text-transform: none;
	margin-bottom: 2px;
}

.constituency {
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: white;
	margin-bottom: 12px;
}

.statelist {
	color: white;
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.state {
	color: white;
	font-family: Protipo;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 21px;
	text-transform: uppercase;
}

.state span {
	padding: 5px 8px;
	border-radius: 5px;
}

.result-text {
	padding-top: 12px;
	padding-left: 16px;
	font-family: IBM Plex Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3px;
	color: rgba(255, 255, 255, 0.7);
	text-transform: none;
}

.result-total {
	padding-bottom: 10px;
	padding-left: 16px;
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
}

.secondvote-card:first-of-type {
	background-color:rgba(45, 93, 234, 1);
}

ion-content {
	--background: #181924;
}
