.election-chances-firstVote {
	padding-left: 19px;
	padding-top: 12px;
}

.election-chances-secondVote {
	background-color: rgba(24, 25, 36, 1);
	padding-left: 19px;
	padding-top: 19px;
}

.electionresult {
	font-family: IBM Plex Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3px;
	color: rgba(256, 256, 256, 0.7);
	text-transform: none;
	margin-bottom: 2px;
}

.constituency {
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: white;
	margin-bottom: 12px;
}

.no-direct-first {
	padding: 16px;
}

.no-direct-first-title {
	font-family: Protipo, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.25px;
	text-transform: none;
	color: #FFFFFF;
}

.no-direct-first-subtitle {
	margin-top: 4px;
	font-family: Protipo, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14.34px;
	letter-spacing: 0.25px;
	color: #FFFFFF;
	opacity: 0.7;
	text-transform: none;
}

.statelist {
	color: white;
	font-family: Protipo;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.7px;
	text-transform: uppercase;
	padding-left: 19px;
	margin: 0px;
}

.state {
	font-family: Protipo;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 21px;
	text-transform: uppercase;
}

.constituencycard {
	border-radius: 4px;
	padding: 5px 8px;
	margin-left: 19px;
	color: white;
}

.fdp.constituencycard {
	color: black;
}

.piraten.constituencycard {
	color: black;
}

.result-text {
	font-family: IBM Plex Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.3px;
	color: rgba(256, 256, 256, 0.7);
	text-transform: none;
}

.result-total {
	padding-bottom: 19px;
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
}

ion-content {
	--background: #181924;
}

.firstVote {
	--background: rgba(24, 25, 36, 1);
}

.secondVote {
	--background: rgba(24, 25, 36, 1);
}

.secondvote-card:first-of-type {
	margin-top: 16px;
}

.secondVote-info-text {
	background-color: rgba(42, 43, 54, 1);
	padding-top: 19px;
	padding-bottom: 19px;
}

.statelist-title {
	font-size: 12px;
	padding-top: 8px;
}
