.election-chances-firstVote {
	border-top: 1px solid rgba(76, 78, 98, 1);
	padding-left: 19px;
	padding-top: 12px;
}

.election-chances-secondVote {
	background-color: rgba(42, 43, 54, 1);
	padding-left: 19px;
	padding-top: 16px;
}

.electionresult {
	font-family: IBM Plex Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3px;
	color: rgba(256, 256, 256, 0.7);
	text-transform: none;
	margin-bottom: 2px;
}

.constituency {
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: white;
	margin-bottom: 12px;
}

.statelist {
	color: white;
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.state {
	color: white;
	font-family: Protipo;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	padding-bottom: 21px;
	text-transform: uppercase;
}

.state span {
	padding: 5px 8px;
	border-radius: 5px;
}

.result-text {
	padding-top: 12px;
	padding-left: 16px;
	font-family: IBM Plex Serif;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 17px;
	letter-spacing: 0.3px;
	color: rgba(255, 255, 255, 0.7);
	text-transform: none;
}

.result-total {
	padding-bottom: 10px;
	padding-left: 16px;
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	color: #ffffff;
}

.secondvote-card:first-of-type {
	background-color: rgba(45, 93, 234, 1);
}

ion-content {
	--background: #181924;
}
