.navbar {
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	align-items: center;
}

.activ {
	opacity: 1;
	font-weight: bold;
}

.home-title {
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	letter-spacing: -1px;
	color: #ffffff;
}

.home-subtitle {
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	letter-spacing: 0.15px;
	opacity: 0.7;
	text-transform: none;
	padding-bottom: 16px;
	padding-top: 16px;
}

.home-button {
	--background: rgba(45, 93, 234, 1);
	--border-radius: 8px;
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #ffffff;
	text-transform: none;
}

.content {
	display: flex;
}

.text {
	display: flex;
}

.breakline-title {
	display: none;
}

.partners {
	text-align: center;
	padding-top: 30px;
	padding-left: 41px;
	padding-right: 41px;
	padding-bottom: 39px;
}

.partners h2 {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 135%;
	/* or 24px */
	letter-spacing: -0.25px;
	color: #ffffff;
}

.partner-logo-grid-container {
	display: flex;
	flex-direction: column;
	grid-column-gap: 20px;
	grid-row-gap: 10px;
	background-color: #ffffff;
	border-radius: 16px;
	padding: 24px 58px 0px 58px;
}

.appstore-button-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.appstore-button-container > div {
	margin-top: 4px;
	margin-bottom: 4px;
}

.appstore-button-container > div > a > span > img {
	height: 40px;
}

.quote-grid-container {
	display: grid;
	padding: 30px;
	grid-row-gap: 24px;
}

@media screen and (max-width: 374px) {
	#legal-notice-bottom,
	#privacy-bottom,
	#about-us-bottom {
		font-size: 14px;
		line-height: 17px;
		opacity: 0.7;
	}

	.mockup > div {
		width: auto;
	}

	.home-title {
		font-size: 24px;
		line-height: 29px;
	}

	.home-subtitle {
		font-size: 12px;
		line-height: 19px;
	}

	.content {
		flex-direction: column;
		align-items: center;
	}

	.text {
		flex-direction: column;
		align-items: center;
		padding: 30px;
	}

	.home-subtitle {
		text-align: center;
	}

	.partners {
		padding: 30px;
	}

	.partners h2 {
		margin-top: 0px;
		margin-bottom: 30px;
	}

	#politrack {
		max-width: 80%;
		align-self: center;
	}

	.partner-logo-grid-container {
		padding: 24px 30px 24px 30px;
		grid-row-gap: 52px;
	}
}

@media screen and (min-width: 375px) {
	#legal-notice-bottom,
	#privacy-bottom,
	#about-us-bottom {
		font-size: 14px;
		line-height: 17px;
		opacity: 0.7;
	}

	.mockup > div {
		width: auto;
		padding-left: 5%;
		padding-right: 5%;
	}

	.home-title {
		font-size: 24px;
		line-height: 29px;
	}

	.home-subtitle {
		font-size: 12px;
		line-height: 19px;
	}

	.content {
		flex-direction: column;
		align-items: center;
	}

	.text {
		flex-direction: column;
		align-items: center;
		padding: 30px;
	}

	.home-subtitle {
		text-align: center;
	}

	.partners {
		padding: 30px;
	}

	.partners h2 {
		margin-top: 0px;
		margin-bottom: 16px;
	}

	#politrack {
		max-width: 60%;
		align-self: center;
	}

	.partner-logo-grid-container {
		padding: 24px 30px 24px 30px;
		grid-row-gap: 52px;
	}
}
/* iPad */
@media screen and (min-width: 768px) {
	#legal-notice-bottom,
	#privacy-bottom,
	#about-us-bottom {
		font-size: 17px;
		line-height: 22px;
	}

	.mockup > div {
		width: auto;
		padding-left: 20%;
		padding-right: 20%;
	}

	.appstore-button-container {
		flex-direction: row;
	}

	.appstore-button-container > div:first-of-type > a > span {
		padding-right: 4px;
	}

	.appstore-button-container > div:last-of-type > a > span {
		padding-left: 4px;
	}
	
	.home-title {
		font-size: 56px;
		line-height: 97.5%;
	}

	.home-subtitle {
		font-size: 17px;
		line-height: 22px;
		padding-top: 20px;
		padding-bottom: 16px;
		margin-bottom: 0px;
		text-align: center;
	}

	.home-button {
		font-size: 17px;
		width: 127px;
	}

	.content {
		flex-direction: column;
		align-items: center;
	}

	.text {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.breakline-title {
		display: unset;
	}
	.partners {
		padding: 45px 50px;
	}

	.partners h2 {
		margin-bottom: 24px;
		font-size: 24px;
	}

	.partner-logo-grid-container {
		display: grid;
		align-content: center;
		align-items: center;
		grid-template-columns: repeat(8, 1fr);
		grid-gap: 26px 80px;
		padding: 40px 24px 40px 24px;
	}

	#bmbf {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column: span 2;
	}

	#update {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column: span 2;
	}

	#proto {
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column: span 2;
	}

	#aw {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column: span 4;
	}

	#wiki {
		grid-row-start: 2;
		grid-row-end: 3;
		grid-column: span 4;
	}
	#politrack {
		max-width: 80%;
		align-self: center;
		grid-row-start: 1;
		grid-row-end: 2;
		grid-column: span 2;
	}
	.quote-grid-container {
		padding: 45px 50px;
		grid-column-gap: 40px;
		grid-row-gap: 48px;
		grid-template-columns: auto auto;
	}
	/* add margin on the first element */
	.quote-grid-container .Quote_container__1Il-M:nth-child(1) .Quote_name__2vyC4 {
		margin-top: 30px;
	}
	/* add margin on the last element */
	.quote-grid-container .Quote_container__1Il-M:nth-child(4) .Quote_name__2vyC4 {
		margin-top: 30px;
	}
}

/* Desktop */
@media screen and (min-width: 1440px) {
	.mockup > div {
		width: 44.79vw;
		padding: 0;
	}

	.text {
		flex-direction: column;
		align-items: flex-start;
		padding-left: 8.33vw;
	}

	.content {
		justify-content: space-between;
		flex-direction: row;
	}

	.mockup {
		padding-right: 8.33vw;
		padding-top: 9.22vh;
	}

	.home-subtitle {
		text-align: unset;
	}

	.home-title {
		text-align: left;
	}
	.partners {
		padding: 45px 130px;
	}

	.partners h2 {
		padding-bottom: 38px;
		margin-top: 4px;
	}

	.partner-logo-grid-container a {
		max-width: 12%;
	}

	.partner-logo-grid-container {
		display: flex;
		flex-direction: unset;
		justify-content: space-evenly;
		padding: 40px 24px;
		grid-gap: 0px 65px;
	}
	.quote-grid-container {
		padding: 36px 130px 72px 130px;
		display: flex;
	}
	.quote-grid-container .Quote_container__1Il-M .Quote_name__2vyC4 {
		margin-top: 30px;
	}
}
