@media screen and (max-width: 374px) {
    .nav-header {
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 41px;
        padding-right: 40px;
    }

    #home > div {
        width: 238.87px;
        height: 60px;
    }

    #legal-notice, #privacy {
        display: none;
    }

    #legal-notice-bottom, #privacy-bottom {
        margin-top: 85px;
        font-size: 14px;
        line-height: 17px;
        opacity: 0.7;
    }

    .links-bottom {
        display: flex;
        justify-content: space-evenly;
    }

    .mockup {
        width: 231px;
    }

    .home-title {
        font-size: 24px;
        line-height: 29px; 
    }

    .home-subtitle {
        font-size: 12px;
        line-height: 19px;
    }
}

@media screen and (min-width: 375px) {
    .nav-header {
        padding-top: 30px;
        padding-bottom: 10px;
        padding-left: 49px;
        padding-right: 47px;
        display: flex;
        justify-content: center;
    }

    #home > div {
        width: 278.68px;
        height: 70px;
    }

    #legal-notice, #privacy {
        display: none;
    }

    #legal-notice-bottom, #privacy-bottom {
        margin-top: 91px;
        font-size: 14px;
        line-height: 17px;
        opacity: 0.7;
    }

    .links-bottom {
        display: flex;
        justify-content: space-evenly;
    }

    .mockup {
        width: 231px;
    }

    .home-title {
        font-size: 24px;
        line-height: 29px;
    }

    .home-subtitle {
        font-size: 12px;
        line-height: 19px;
    }
}


@media screen and (min-width: 768px) {
    .nav-header {
        padding-top: 39px;
        padding-bottom: 21px;
        padding-left: 60px;
        padding-right: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    #legal-notice {
        margin-right: 30px;
    }

    .links {
        display: flex;
    }

    #legal-notice, #privacy {
        display: unset;
        font-size: 18px;
        line-height: 22px;
        opacity: 0.7;
    }

    #legal-notice-bottom, #privacy-bottom {
        display: none;
    }

    .mockup {
        width: 319px;
    }

    .home-title {
        font-size: 24px;
        line-height: 29px;
    }

    .home-subtitle {
        font-size: 17px;
        line-height: 22px;
    }

}

@media screen and (min-width: 1440px) {
    .nav-header {
        padding-top: 69px;
        padding-bottom: 21px;
        padding-left: 120px;
        padding-right: 120px;
        display: flex;
        justify-content: space-between;
        align-items: center
    }

    #legal-notice {
        margin-right: 50px;
    }

    .mockup {
        width: 439px;
    }

}
.nav-header {
    background-color: rgba(42, 43, 54, 0.9);
}

.navbar {
    font-family: Protipo;
    font-style: normal;
    font-weight: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
    align-items: center
}

.activ {
    opacity: 1;
    font-weight: bold;
}

.home-title {
    font-family: Protipo;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    letter-spacing: -0.7px;
    color: #FFFFFF;
}

.home-subtitle {
    font-family: Protipo;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    opacity: 0.7;
    text-align: center;
    text-transform: none;
}

.home-button {
    --background: rgba(255, 255, 255, 0.1);
    --border-radius: 8px;
    font-family: Protipo;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}