.navbar {
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #ffffff;
	text-decoration: none;
	align-items: center;
}

.activ {
	opacity: 1;
	font-weight: bold;
}

.home-title {
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	letter-spacing: -1px;
	color: #ffffff;
}

.home-subtitle {
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
	letter-spacing: 0.15px;
	opacity: 0.7;
	text-transform: none;
	padding-bottom: 10px;
	padding-top: 10px;
}

.home-button {
	--background: rgba(45, 93, 234, 1);
	--border-radius: 8px;
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: #ffffff;
	text-transform: none;
}

.content {
	display: flex;
}

.text {
	display: flex;
}

.breakline-title {
	display: none;
}

@media screen and (max-width: 374px) {
	#legal-notice-bottom,
	#privacy-bottom {
		font-size: 14px;
		line-height: 17px;
		opacity: 0.7;
	}

	.mockup > div {
		width: auto;
	}

	.home-title {
		font-size: 24px;
		line-height: 29px;
	}

	.home-subtitle {
		font-size: 12px;
		line-height: 19px;
	}

	.content {
		flex-direction: column;
		align-items: center;
	}

	.text {
		flex-direction: column;
		align-items: center;
		padding-bottom: 69px;
		padding-top: 69px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.home-subtitle {
		text-align: center;
	}
}

@media screen and (min-width: 375px) {
	#legal-notice-bottom,
	#privacy-bottom {
		font-size: 14px;
		line-height: 17px;
		opacity: 0.7;
	}

	.mockup > div {
		width: auto;
	}

	.home-title {
		font-size: 24px;
		line-height: 29px;
	}

	.home-subtitle {
		font-size: 12px;
		line-height: 19px;
	}

	.content {
		flex-direction: column;
		align-items: center;
	}

	.text {
		flex-direction: column;
		align-items: center;
		padding-bottom: 79px;
		padding-top: 79px;
		padding-left: 30px;
		padding-right: 30px;
	}

	.home-subtitle {
		text-align: center;
	}
}

@media screen and (min-width: 768px) {
	#legal-notice-bottom,
	#privacy-bottom {
		font-size: 17px;
		line-height: 22px;
	}

	.mockup > div {
		width: auto;
		padding-left: 61.5px;
		padding-right: 61.5px;
	}

	.home-title {
		font-size: 56px;
		line-height: 97.5%;
	}

	.home-subtitle {
		font-size: 17px;
		line-height: 22px;
		padding-top: 20px;
		padding-bottom: 16px;
		margin-bottom: 0px;
		text-align: center;
	}

	.home-button {
		font-size: 17px;
		width: 127px;
	}

	.content {
		flex-direction: column;
		align-items: center;
	}

	.text {
		flex-direction: column;
		padding-top: 50px;
		padding-bottom: 30px;
	}

	.breakline-title {
		display: unset;
	}
}

@media screen and (min-width: 1400px) {
	.mockup > div {
		width: 44.79vw;
		padding: 0;
	}

	.text {
		flex-direction: column;
		align-items: flex-start;
		padding-left: 8.33vw;
	}

	.content {
		justify-content: space-between;
		flex-direction: row;
	}

	.mockup {
		padding-right: 8.33vw;
		padding-top: 9.22vh;
	}

	.home-subtitle {
		text-align: unset;
	}
}
