.privacy {
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
}

.privacy-header {
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -0.7px;
	color: #ffffff;
}

.privacy > a {
	color: #3aa6f4;
}

@media screen and (max-width: 374px) {
	.privacy {
		padding: 30px;
		font-size: 14px;
		line-height: 17px;
	}
	.privacy-header {
		font-size: 24px;
		line-height: 29px;
	}

	.privacy > h2 {
		font-size: 20px;
		opacity: 0.7;
	}
}

@media screen and (min-width: 375px) {
	.privacy {
		padding: 30px;
		font-size: 14px;
		line-height: 17px;
	}

	.privacy-header {
		font-size: 24px;
		line-height: 29px;
	}

	.privacy > h2 {
		font-size: 20px;
		opacity: 0.7;
	}
}

@media screen and (min-width: 768px) {
	.privacy {
		padding: 80px 150px;
		font-size: 17px;
		line-height: 22px;
	}
}

@media screen and (min-width: 1440px) {
	.privacy {
		padding-top: 10vh;
		padding-bottom: 10vh;
		padding-left: 25vw;
		padding-right: 25vw;
	}
}
