.profile-header {
	max-height: 300px;
}

.black-back {
	background-color: #181924;
	padding-top: 6px;
	padding-bottom: 6px;
}
.category-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #181924;
	padding: 0px 19px;
}
.category-items {
	font-family: 'protipo' sans-serif;
	color: #ffffff;
	font-size: 14px;
	text-transform: uppercase;
}

.horizontal-scroll {
	overflow-x: auto;
}

.vote-card-lists {
	display: flex;
}

ul.vote-card-lists,
ul.vote-card-lists li {
	margin: 0;
	padding: 0;
	overflow: x;
}

ul.vote-card-lists {
	list-style-type: none;
	overflow: auto;
	margin: 0 auto;
}
