.profile-header {
	max-height: 300px;
}

.subheading-button-underlay {
	text-align: left;
	height: 40px;
	background-color: #14345a;
	padding-top: 7px;
}

.grey-back {
	background-color: #e3e3e3;
	padding-top: 5px;
	padding-bottom: 5px;
}

.last-grey-back {
	background-color: #e3e3e3;
	padding-top: 5px;
	padding-bottom: 30px;
}
