.secondvote-black-back {
	background: #1f1f1f;
	padding-top: 0px;
	position: fixed;
	width: 100%;
	height: 60%;
	bottom: 0%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

.secondvote-black-back {
	padding-bottom: calc(50% + 67px);
}
