.votes-toolbar {
	height: 95px;
	background-color: #a1c5ff;
}

.back-button {
	margin-top: 50px;
	margin-left: 10px;
	size: 1px;
}

.page-title {
	margin-top: 50px;
	height: 55px;
	font-size: 15px;
	width: fit-content;
}

.grey-back-scroll {
	background-color: #e3e3e3;
	padding-top: 5px;
	padding-bottom: 5px;
	overflow-x: scroll;
	scrollbar-width: none;
}

.last-grey-back {
	background-color: #e3e3e3;
	padding-top: 5px;
	padding-bottom: 30px;
}

.hide-scrollbar {
	overflow: hidden;
	scrollbar-width: none;
}
