.votes-header-container {
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 375px;
	align-items: center;
	color: #FFFFFF;
	background: #181924;
	font-family: 'protipo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}
.votes-black-back {
	background-color: #181924;
}
