.votes-header-container {
	display: flex;
	height: 60px;
	width: 100%;
	align-items: center;
	color: #ffffff;
	background: #181924;
	font-family: 'protipo', sans-serif;
	font-size: 14px;
	font-weight: 400;
	font-style: normal;
}
.votes-header-container> :first-child {
	position: absolute;
	left: 5px;
}
.votes-header-container > :second-child {
	margin-left: 20px;
}
.votes-header-container > :last-child {
	position: absolute;
	right: 19px;
}
.votes-black-back {
	background-color: #181924;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.votes-vote-card {
	margin-bottom: 10px;
}
