.votes-header-container {
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 375px;
	align-items: center;
	color: #FFFFFF;
	background: #181924;


}
.votes-black-back {
	background-color: #181924;
}
