.table {
  height: 177px;
  background: #151515;
  display: flex;
  flex-direction: row;
  padding: 16px 24px 16px 16px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.table::-webkit-scrollbar {
	display: none;
}
