.camera-container {
	height: 100%;
	position: relative;
	background-color: black;
}

.camera {
	height: 100%;
	position: absolute;
	display: flex;
	align-items: center;
}

.video-element {
	position: fixed;
	left: 0;
}

#camera-video {
	z-index: 2;
}

#camera-canvas {
	z-index: 3;
}

#ocr-canvas {
	z-index: 1;
}

.camera-close-button {
	position: fixed;
	top: -210px;
	right: -40px;
	z-index: 4;
	border: 1px solid white;
}
