ion-toolbar {

    --background:  url('C:/Users/Liam/Desktop/Face the Facts/face-the-facts-app/src/Phillip-Amthor-im-Bundestag-1.png');
    --background-repeat: no-repeat;
    --background-attachment: fixed;
    --background-position: center;
  
    --text-align: left;
    
  }