
.election-chances-card {
 	background-color:#4c4c4c;
}

.election-chances-card ion-col {
	padding-bottom: 0px;

}


.election-chances-card-header {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2%;
	padding-right: 2%;
}


#img {
	height: 70px;
	max-width: 100%;
    border: 0;
    object-position: 45% 35%;
    object-fit: cover;
	border-radius: 50%;
}

#center-column {
	padding-top: 15px;
}