.election-chances-card ion-col {
	padding-bottom: 0px;
	display: flex;
	align-items: center;
}

.election-chances-card {
	margin-top: 10px;
	margin-bottom: 0px;
	height: 75px;
	background-color: #ffffff;
}

.election-chances-card-header {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2%;
	padding-right: 2%;
}

.election-chances-card-title {
	font-size: 17px;
	font-family: 'protipo', sans-serif;
	font-style: normal;
	color: white;
	padding-bottom: 8px;
}

.election-chances-card-subtitle {
	font-size: 12px;
	font-family: 'protipo', sans-serif;
	font-style: normal;
	color: white;
}

.election-chances-card-subtitle span {
	padding: 2%;
	border-radius: 5px;
}

.percentage {
	display: flex;
	justify-content: flex-end;
}

.percentage .election-chances-card-title {
	font-weight: 400;
}
