.sub-heading {
    text-align: left;
    height: 40px;
    background-color: #14345A;
    color: white;
  }
  
  .sub-heading strong {
    font-size: 15px;
    line-height: 26px;
    text-transform: uppercase;
    margin-left: 10px;
  }
  
  .container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  .container a {
    text-decoration: none;
  }