.homeheader {
	height: 60px;
	padding-left: 20px;
	padding-right: 20px;
	background: #181924;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homeheader-logo {
	height: 39.97476577758789px;
	width: 31.990978240966797px;
}

.homeheader-navbar {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */
	letter-spacing: 0.25px;
	color: #FFFFFF;
	text-decoration: none;
	opacity: 0.7;
}

.homeheader-navbar-activ {
	opacity: 1;
	font-weight: bold;
}

.homeheader-navbar-second {
	margin-left: 24px;
}


/* .top {
	width: 21px;
	opacity: 0.3;
	margin-right: 40px;
}

@media screen and (max-width: 374px) {
	.nav-header {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 30px;
		padding-right: 30px;
	}

	#home > div {
		width: 238.87px;
		height: 60px;
	}
	.top {
		display: none;
	}
}

@media screen and (min-width: 375px) {
	.nav-header {
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 30px;
		padding-right: 30px;
		display: flex;
	}

	#home > div {
		width: 278.68px;
		height: 70px;
	}

	.top {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.nav-header {
		padding-top: 39px;
		padding-bottom: 21px;
		padding-left: 50px;
		padding-right: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.top {
		display: unset;
	}
}

@media screen and (min-width: 1440px) {
	.nav-header {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 130px;
		padding-right: 130px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.nav-header {
	background: rgba(24, 25, 36, 1);
}

.top:hover {
	animation: opacity-animation 1s forwards;
}

@keyframes opacity-animation {
	from {
		opacity: 0.3;
	}
	to {
		opacity: 1;
	}
} */
