.homefooter-links {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homefooter-navbar {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
	/* identical to box height, or 143% */
	letter-spacing: 0.25px;
	color: #FFFFFF;
	text-transform:uppercase;
	text-decoration: none;
	opacity: 0.7;
}

.homefooter-navbar-activ {
	opacity: 1;
	font-weight: bold;
}

.homefooter-navbar-second {
	margin-top: 10px;
}
/* iPhone-X */
@media screen and (max-width: 374px) {
	.nav-footer {
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 40px;
		padding-right: 40px;
	}

	#home {
		padding-bottom: 30px;
		justify-content: center;
	}

	#legal-notice,
	#privacy {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.nav-footer {
		padding-top: 30px;
		padding-bottom: 30px;
		padding-left: 40px;
		padding-right: 40px;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.nav-footer > #home {
		justify-content: center;
		padding-bottom: 30px;
	}

	#legal-notice,
	#privacy {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	.nav-footer {
		padding-top: 39px;
		padding-bottom: 21px;
		padding-left: 60px;
		padding-right: 60px;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	#privacy-bottom {
		margin-right: 30px;
	}

	.bottom {
		display: none;
	}

	#legal-notice,
	#privacy {
		display: unset;
		font-size: 18px;
		line-height: 22px;
		opacity: 0.7;
	}
}

@media screen and (min-width: 1440px) {
	.nav-footer {
		padding-top: 69px;
		padding-bottom: 21px;
		padding-left: 120px;
		padding-right: 120px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#privacy-bottom {
		margin-right: 3.57vw;
	}
}

.nav-footer {
	background-color: rgba(42, 43, 54, 0.9);
}

.nav-footer > #home {
	display: flex;
	align-items: center;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
	line-height: 22px;
	letter-spacing: 0.15px;
	color: rgba(255, 255, 255, 1);
	text-decoration: unset;
}

#home > span {
	padding-left: 13.55px;
}

.bottom {
	width: 21px;
	opacity: 0.3;
}

.social-media-bottom {
	padding-bottom: 30px;
}

.social-media-links {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

#privacy:hover,
#legal-notice:hover {
	animation: opacity-animation 1s forwards;
}

@keyframes opacity-animation {
	from {
		opacity: 0.7;
	}
	to {
		opacity: 1;
	}
}
