.article-card {
	width: 210px;
	margin-left: 10px;
	margin-right: 0;
	height: 150px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, 0.7);
}
.article-image {
	width: 210px;
	max-height: 105px;
}

.publisher-image {
	padding-top: 0px;
	padding-left: 0px;
	position: absolute;
	width: 50%;
	height: 20px;
}

.article-header {
	padding: 0px;
}

.article-label {
	font-size: 12px;
	font-family: 'protipo', sans-serif;
	font-style: normal;
	line-height: 14px;
	font-weight: normal;
	text-transform: none;
	letter-spacing: -0.4px;
	color: #ffffff;
	white-space: normal;
	padding-left:10px;
	padding-right: 10px;
	padding-bottom: 12px;
}
