.kontro-layout {
	/* height: 50px; */
	overflow: hidden;
	background-color: rgba(255, 255, 255, 0.08);
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.kontro-closed {
	height: 50px;
}

.kontro-closed .kontro-title {
	margin-bottom: 12px;
}

.kontro-open {
	height: 185px;
}

.kontro-open .kontro-title {
	margin-bottom: 5px;
}

.kontro-title-container {
	display: flex;
	justify-content: space-between;
}

.kontro-title {
	color: white;
	float: left;
	font-size: 14px;
	font-family: 'inter';
	font-style: normal;
}

.kontro-expand-icon {
	float: right;
	height: 10px;
	margin-top: 3px;
}

.kontro-card-content {
	padding: 10px 0;
}

.accordion {
	overflow: hidden;
	--background: transparent;
	--background-activated: transparent;
	color: #000000;
	margin-top: 15px;
	margin-left: 3px;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 1;
	font-weight: 600;
	font-style: normal;
	font-family: 'inter';
	font-style: normal;
}

.article-row {
	width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	scrollbar-width: none;
	white-space: nowrap;
}

.kontro-card-header {
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
