.article-card {
	width: 120px;
	margin-left: 10px;
	margin-right: 0;
	height: 120px;
	display: inline-block;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
}
.article-image {
	max-height: 70px;
}

.publisher-image {
	padding-top: 0px;
	padding-left: 0px;
	position: absolute;
	width: 50%;
	height: 20px;
}

.article-header {
	padding: 5px;
}

.article-label {
	font-size: 11px;
	font-family: 'Barlow', sans-serif;
	line-height: 1.2;
	font-weight: 500;
	font-style: normal;
	text-transform: none;
	letter-spacing: -0.2px;
	color: black;
	margin-bottom: 0px;
	white-space: normal;
}
