.header {
	background-color: #181924;
	padding-top: 2vh;
	padding-bottom: 1vh;
}

.politician-image {
	height: 10vh;
	max-width: 100%;
	border: 0;
	object-position: 45% 35%;
	object-fit: cover;
	border-radius: 50%;
	visibility: visible;
}

/* Have to use ion-card-title to overwrite inherited css from :host */
.politician-name ion-card-title {
	font-size: 20px;
	font-weight: bold;
	color: white;
	z-index: 2;
	font-family: 'protipo', sans-serif;
	font-style: normal;
	padding-left: 5px;
}

.politician-age {
	font-weight: 100;
	font-size: 15px;
}

.politician-job ion-card-subtitle {
	font-size: 15px;
	font-weight: 100;
	color: white;
	z-index: 2;
	font-family: 'protipo', sans-serif;
	font-style: normal;
	padding-left: 5px;
	/* to overwrite inherited capitalised text-transform from :host */
	text-transform: none;
}

.politician-detail {
	font-size: 12px;
	font-weight: 200;
	color: white;
	background-color: rgba(255, 255, 255, 0.16);
	z-index: 2;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
