:root {
	--imagesize: 70px;
	--height: 106px;
	--max-width: 76px;
	--padding: 11px;
	--padding-bottom: 0px;
}
@media screen and (min-width: 360px) {
	:root {
	--imagesize: 80px;
	--height: 116px;
	--max-width: 90px;
	--padding: 19px;
	--padding-bottom: 12px;
	}
}

.header {
	height: var(--height);
	background-color: rgba(42, 43, 54, 1);
	padding-top: var(--padding);
	padding-bottom: var(--padding-bottom);
	display: flex;
	align-items: center;
}

.politician-image {
	height: var(--imagesize);
	width: var(--imagesize);
	border: 0;
	object-position: 45% 35%;
	object-fit: cover;
	border-radius: 50%;
}

/* Have to use ion-card-title to overwrite inherited css from :host */
.politician-name ion-card-title {
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	color: white;
	z-index: 2;
	padding-left: 2px;
}

.politician-detail {
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.7px;
	color: white;
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 2;
	border-radius: 4px;
	margin-inline: 2px;
	margin-top: 3px;
	padding: 5px 8px;
}

.profile-image {
	max-width: var(--max-width);
	padding: 0;
	margin-left: var(--padding);
}

.profile-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0;
}

.cdu0 {
	background-color: #636363;
}

.csu0 {
	background-color: #636363;
}

.spd0 {
	background-color: #c24242;
}

.dielinke0 {
	background-color: #c24271;
}
.diegrünen0 {
	background-color: #599951;
}
.fdp0 {
	background-color: #ffe926;
	color: #181924;
}
.afd0 {
	background-color: #3aa6f4;
}
.piraten0 {
	background-color: #dda22e;
}

.npd0 {
	background-color: #636363;
}

.freiewähler0 {
	background-color: #636363;
}