.header {
	background-color: #2b2c36;
	padding-top: 2vh;
	padding-bottom: 2vh;
	
}

.imgContainer {
	width: 700px;
	height: 300px;
	overflow: hidden;
	margin: -20px 0 0 -120px;
	position: relative;
	z-index: 1;
}

.imgContainer:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50%;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}

.politician-detail {
	font-size: 12px;
	font-weight: 200;
	color: white;
	background-color: rgba(255, 255, 255, 0.16);
	z-index: 2;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

/* Have to use ion-card-title to overwrite inherited css from :host */
.politician-name ion-card-title{
	font-size: 20px;
	font-weight: bold;
	color: white;
	z-index: 2;
	font-family: 'protipo', sans-serif;
	font-style: normal;
	padding-left: 5px;
}

.politician-age {
	font-weight:100;
	font-size: 15px;
}