.position-card {
	background: #2a2b36;
}
.position-card-title {
	font-family: 'protipo', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: #ffffff;
}
.position-card-subcontent {
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
}
