.profile-black-back {
	background-color: #181924;
	padding-top: 6px;
	padding-bottom: 6px;
}

.profile-header {
	max-height: 300px;
}

.vote-card-lists {
	display: flex;
}

ul.vote-card-lists,
ul.vote-card-lists li {
	margin: 0;
	padding: 0;
	scroll-snap-align: start;
}

ul.vote-card-lists {
	list-style-type: none;
	overflow: auto;
	margin: 0 auto;
	scroll-snap-type: x mandatory;
}
