.secondvote-card {
	background: #2b2c36;
	margin-top: 8px;
	margin-bottom: 0px;
	height: 41px;
}

.secondvote-card-header {
	padding: 12px 16px 12px 16px;
}

.secondvote-card-name {
	color: white;
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}

.rank {
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding-right: 15px;
	opacity: 0.7;
}
