.secondvote-card {
	background: #2b2c36;
	margin-top: 8px;
	margin-bottom: 0px;
	height: 50px;
}

.secondvote-card-header {
	padding: 16px 16px 16px;
}

.secondvote-card-name {
	color: white;
	font-family: 'protipo', sans-serif;
	font-weight: 700;
	font-size: 17px;
}

.rank {
	font-weight: 400;
	padding-right: 10px;
}