:root {
	--margintop-secondvote-card: 0px;
	--marginleft-secondvote-card: 12px;
}
@media screen and (min-width: 360px) {
	:root {
		--margintop-secondvote-card: 2px;
		--marginleft-secondvote-card: 16px;
	}
}

.secondvote-card {
	background: rgba(42, 43, 54, 1);
	margin-top: var(--margintop-secondvote-card);
	margin-bottom: calc(8px - var(--margintop-secondvote-card));
	margin-left: var(--marginleft-secondvote-card);
	margin-right: var(--marginleft-secondvote-card);
	height: 41px;
}

.secondvote-card:last-of-type {
	margin-bottom: 15px;
}

.secondvote-card-header {
	padding: 12px 16px;
}

.secondvote-card-name {
	color: white;
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
}

.rank {
	font-family: Protipo;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	padding-right: 15px;
	opacity: 0.7;
}

.blue {
	background-color: rgba(45, 93, 234, 1);
}
