.secondvote-carditem-frame {
  border-right: transparent;
}

.secondvote-carditem {
  background-color: rgb(48, 48, 48);
}

.secondvote-carditem-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.secondvote-carditem-name {
  color:white
}

.secondvote-carditem-chance {
  color:white
}

.away {
  border-right: transparent
}

.touched {
  border-right: 5px solid blue;
}