.toolbar {
	--background: #181924;
	display: flex;
	align-items: center;
	height: 65px;
}

.segment {
	width: 99%;
	height: 40px;
	background-color: #181924;
}

.segment-button {
	--indicator-color: #3969f5;
	--color: #ffffff;
	--color-selected: #ffffff;
	--color-checked: #ffffff;
	--border-radius: 4px;
}
