.toolbar {
	--background: #181924;
	display: flex;
	align-items: center;
	height: 65px;
	padding-left: 24px;
	padding-right: 24px;
}

.segment {
	width: 100%;
	height: 43px;
	background-color: #181924;
}

.segment-button {
	--indicator-color: #2A2B36;
	--color: rgba(255, 255, 255, 0.5);
	--color-checked: rgba(255, 255, 255, 1);
	--border-radius: 4px;
	font-family: Protipo;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.7px;
}
