:root {
	--fontsize-segment-button: 12px;
	--height-segment-button: 40px;
	--padding-segment-button: 16px;
	--line-height-segment-button: 14.34px;
}
@media screen and (min-width: 360px) {
	:root {
	--fontsize-segment-button: 14px;
	--height-segment-button: 43px;
	--padding-segment-button: 24px;
	--line-height-segment-button: 16.73px;
	}
}

.toolbar {
	--background: #181924;
	display: flex;
	align-items: center;
	height: 65px;
	padding-left: var(--padding-segment-button);
	padding-right: var(--padding-segment-button);
}

.segment {
	width: 100%;
	height: var(--height-segment-button);
	background-color: #181924;
}

.segment-button {
	--indicator-color: #2A2B36;
	--color: rgba(255, 255, 255, 0.5);
	--color-checked: rgba(255, 255, 255, 1);
	--border-radius: 4px;
	font-family: Protipo;
	font-style: normal;
	font-weight: bold;
	font-size: var(--fontsize-segment-button);
	line-height: var(--line-height-segment-button);
	letter-spacing: 0.7px;
}
