.sideJob-minor {
	overflow: visible;
	color: #000000;
	font-size: 12px;
	letter-spacing: 0.3px;
	line-height: 1.2;
	font-weight: 400;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.sideJob-major {
	overflow: visible;
	color: #000000;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 1;
	font-weight: 600;
	font-family: 'protipo', sans-serif;
	font-style: normal;
	margin-bottom: 5px;
}

.sideJob-layout {
	height: 65px;
	overflow: hidden;
	background-color: #ffffff;
	border-radius: 10px;
	margin-top: 10px;
	position: relative;
}

.sideJob-position {
	padding-top: 15px;
}
