.sub-heading {
	text-align: left;
	height: 40px;
	background-color: #14345A;

	padding-top: 7px;
	position: relative;

}

.sub-heading strong {
	color: white;
	font-size: 13px;
	font-weight: 600;
	line-height: 26px;
	text-transform: uppercase;
	margin-left: 10px;

}
