.sub-heading {
	text-align: left;
	height: 40px;
	background-color: #1f1f1f;
	padding-top: 7px;
	position: relative;
}

.sub-heading strong {
	color: white;
	font-size: 13px;
	font-weight: 600;
	line-height: 26px;
	margin-left: 10px;
	padding-top: 10px;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

/*Button Background*/
.sub-heading-button {
	text-align: left;
	height: 16px;
	--background: transparent;
	margin-left: -2px;
	--box-shadow: none;
	--border-style: none;
}

/*Button Text*/
.sub-heading-button strong {
	color: white;
	font-size: 13px;
	font-weight: 600;
	line-height: 26px;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.info-button {
	--background: transparent;
	width: 22px;
	height: 22px;
	margin-top: 2px;
	opacity: 1;
}

.scrollhidden {
	overflow: hidden;
	z-index: 1;
}
