.sub-heading {
	text-align: left;
	height: 40px;
	background-color: #14345A;

	padding-top: 7px;
	position: relative;

}

.sub-heading strong {
	color: white;
	font-size: 14px;
	font-weight: 600;
	line-height: 26px;
	text-transform: uppercase;
	margin-left: 10px;

}

.info-button {
    --background: transparent;
    width: 22px;
    height: 22px;
    margin-top: 2px;
	opacity: 1;
}

.scrollhidden {
	overflow:hidden;
	z-index: 1;
}


