:root {
	--width-tabs: 90.33px;
	--fontsize-tabs: 12px;
	--padding-tabs: 16px;
}
@media screen and (min-width: 360px) {
	:root {
		--width-tabs: 103.67px;
		--fontsize-tabs: 14px;
		--padding-tabs: 24px;
	}
}
.tabbar {
	background: rgba(42, 43, 54, 1);
	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: var(--padding-tabs);
	padding-left: var(--padding-tabs);
}

.tabs {
	background: rgba(42, 43, 54, 1);
	color: rgba(255, 255, 255, 0.3);
	font-size: var(--fontsize-tabs);
	text-decoration: none;
}

.activated {
	color: white;
	/* Not supported for Safari on iOS devices
	text-decoration: underline white;
    text-underline-position: below;
    text-underline-offset: 11px; */
	text-decoration: none;
	position: relative;
}

.activated:after {
	position: absolute;
	content: '';
	height: 3px;
	bottom: -13px;
	width: var(--width-tabs);
	background: white;
	border-radius: 3px 3px 0px 0px;
}

.tabtext {
	font-family: inter;
	font-style: normal;
	font-weight: normal;
	font-size: var(--fontsize-tabs);
	line-height: 17px;
	width: var(--width-tabs);
	display: flex;
	justify-content: center;
}
