.tabbar {
	background: rgba(42, 43, 54, 1);
	height: 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 30px;
	padding-left: 30px;
}

.tabs {
	background: rgba(42, 43, 54, 1);
	color: rgba(255, 255, 255, 0.3);
	font-size: 15px;
	text-decoration: none;
}

.activated {
	border-bottom: 2px solid white;
	color: white;
}
