.category-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #181924;
	padding: 0px 19px;
	margin-top: 13.5px;
	margin-bottom: 13.5px;
}

.category-items {
	font-family: 'inter';
	color: #ffffff;
	opacity: 0.7;
	letter-spacing: 0.04em;
	font-size: 14px;
	line-height: 15px;
	text-transform: uppercase;
	font-weight: 600;
}
