.topic-card {
	background: #2b2c36;
	color: #ffffff;
	border-radius: 8px;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.politicalFocus {
	display: flex;
	align-items: center;
}

.politicalFocus > svg {
	margin-right: 10px;
}
