.vote-card {
	box-sizing: border-box;
	margin-top: 0px;
	margin-bottom: 0px;
	width: calc(100vw - 12px * 2);
	padding: 0px;
	background: #2b2c36;
}
.vote-card-header {
	padding-top: 12px;
	padding-left: 12px;
	padding-right: 12px;
	padding-bottom: 0px;
}
@media screen and (min-width: 360px) {
	.vote-card {
		width: calc(100vw - 16px * 2);
	}
	.vote-card-header {
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;
	}
}

@media screen and (min-width: 414px) {
	.vote-card {
		width: calc(414px - 16px * 2);
	}
	.vote-card-header {
		padding-top: 16px;
		padding-left: 16px;
		padding-right: 16px;
	}
}

.vote-card-header ion-grid {
	padding-top: 0px;
	padding-bottom: 0px;
}
.vote-card-header ion-col {
	padding-bottom: 0px;
}

.vote-card-title {
	color: #ffffff;
	font-size: 14px;
	height: 35px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.vote-card-border {
	border-top: 1px solid #ffffff;
	opacity: 0.3;
	margin-top: 10px;
	margin-bottom: 10px;
}
.judgement {
	color: #ffffff;
	font-weight: 400;
	font-size: 12px;
	font-family: 'protipo', sans-serif;
	margin-top: 6px;
	padding-top: 0px;
	box-sizing: border-box;
}
.vote-card-content {
	padding-left: 10px;
	padding-right: 10px;
}
.vote-card-content ion-grid {
	padding-top: 0px;
}
.vote-chart-container {
	position: relative;
	justify-content: center;
	align-content: center;
	height: 6px;
	overflow: hidden;
	border-radius: 20px;
	border-width: 1px;
	width: 100%;
}

.candidate-vote {
	position: absolute;
	width: 54px;
	height: 24px;
	border-radius: 4px;
	color: white;
	right: 0px;
	text-align: center;
	padding-top: 6px;
	font-size: 12px;
	font-family: 'protipo', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.vote-yes {
	text-transform: uppercase;
	background-color: #6fad5a;
}

.vote-no {
	text-transform: uppercase;
	background-color: #d74769;
}

.vote-abstain {
	text-transform: uppercase;
	background-color: #3969f5;
}

.vote-none {
	text-transform: uppercase;
	background-color: #c4c4c4;
}

.vote-legend-circle {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 5px;
}
.vote-legend-text {
	font-size: 11px;
	font-weight: 600;
	color: #000000;
	padding-bottom: 20px;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.bottom-group {
	margin-bottom: 10px;
}

.details-open {
	--height: 702px;
	--border-radius: 15px 15px 0 0;
	position: fixed;
	margin-bottom: -29.5%;
}
.title-div {
	height: 115px;
	background-color: #1f1f1f;
}
.subtitle-styling {
	margin-top: 21px;
	margin-left: 20px;
	height: 14px;
	overflow: visible;
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 1.2px;
	font-weight: 500;
	font-family: 'protipo', sans-serif;
	font-style: normal;
	text-transform: capitalize;
}
.title-styling {
	margin-top: 0px;
	margin-left: 20px;
	height: 16px;
	overflow: visible;
	color: #ffffff;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 1px;
	font-weight: 400;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
.chip-styling {
	margin-left: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 138px;
	height: 35px;
	background-color: #ffffff;
	font-weight: 500;
	border-radius: 5px;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.abstract-div {
	height: 163px;
	background-color: #ffffff;
	overflow: scroll;
	scrollbar-width: none;
}
.abstract-title {
	margin-top: 6px;
	margin-left: 15px;
	margin-bottom: 0px;
	font-size: 14px;
	letter-spacing: 0.3px;
	line-height: 1.2;
	font-weight: 600;
	color: #000000;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
.abstract-text {
	width: 345px;
	height: 100px;
	margin-top: 0px;
	margin-left: 15px;
	margin-bottom: 8px;
	font-size: 13px;
	letter-spacing: 0.3px;
	line-height: 1.2;
	color: #000000;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
.abstract-button {
	padding-top: 3px;
	width: 345px;
	height: 35px;
	margin-bottom: 0px;
	margin-top: 0px;
	margin-right: 15px;
	margin-left: 15px;
	height: 35px;
	color: #ffffff;
	background-color: #19ace6;
	font-size: 14px;
	letter-spacing: 0px;
	line-height: 1;
	font-weight: 600;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.first-line-style {
	width: 345px;
	height: 1px;
	overflow: visible;
	background-color: #000000;
	opacity: 0.2;
	margin-bottom: 0px;
}

.reason-div {
	height: 98px;
	background-color: #ffffff;
}
.reason-vote {
	margin-top: 10px;
	margin-bottom: 16px;
	margin-left: 15px;
	color: white;
	font-weight: 600;
	font-size: 16px;
	position: absolute;
	text-align: center;
	width: 65px;
	height: 72px;
	line-height: 65px;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
.reason-vote-text {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.reason-reason {
	margin-right: 23px;
	margin-left: 90px;
	height: 85px;
	width: 262px;
	overflow-y: scroll;
	scrollbar-width: none;
	color: #000000;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
.reason-title {
	margin-top: 3px;
	margin-bottom: 0px;
	color: #000000;
	font-size: 14px;
	letter-spacing: 0.3px;
	line-height: 1.2;
	font-weight: 600;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
.reason-text {
	margin-top: 0px;
	margin-bottom: 16px;
	color: #000000;
	font-size: 13px;
	letter-spacing: 0.3px;
	line-height: 1.2;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.second-line-style {
	margin-bottom: 2px;
	width: 345px;
	height: 2px;
	overflow: visible;
	background-color: #000000;
	opacity: 0.2;
}

.result-div {
	margin-left: 10px;
	margin-right: 15px;
	height: 96px;
	background-color: #ffffff;
}
.result-vote-title {
	color: #000000;
	font-size: 18px;
	letter-spacing: 0.3px;
	line-height: 1.2;
	font-weight: 500;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
.result-vote-members {
	margin-top: 0px;
	color: #000000;
	font-size: 14px;
	letter-spacing: -0.2px;
	line-height: 1.2;
	font-weight: 600;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
.result-row-spacing {
	margin-top: 0px;
	margin-bottom: -5px;
}
.result-chart-container {
	margin-top: -10px;
	position: relative;
	justify-content: center;
	align-content: center;
	height: 20px;
	overflow: hidden;
	border-radius: 20px;
	border-width: 1px;
	border-style: solid;
	width: 103.5%;
}
.result-legend-circle {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
.result-legend-text {
	letter-spacing: -1px;
	margin-left: 2px;
	font-size: 13px;
	font-weight: 600;
	color: #000000;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}

.round-chart-div {
	margin-top: 5px;
	height: 230px;
	background-color: #ffffff;
}
.round-chart-card {
	margin-left: 4%;
	margin-top: 0px;
	width: 345px;
	height: 209px;
	background-color: #e3e3e3;
}
.party-chart-container {
	position: relative;
	overflow: hidden;
}
.chart-row-spacing {
	margin-bottom: 10px;
	margin-top: 0px;
}
.chart-vote-title {
	color: #000000;
	font-size: 16px;
	letter-spacing: -0.4px;
	line-height: 1.2;
	font-weight: 600;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
.chart-vote-members {
	margin-top: 0px;
	color: #000000;
	font-size: 12px;
	letter-spacing: -0.2px;
	line-height: 1.2;
	font-weight: 600;
	font-family: 'protipo', sans-serif;
	font-style: normal;
}
