:root {
	--padding-explainer-card: 16px;
	--height-explainer-card: 48px;
}
@media screen and (min-width: 360px) {
	:root {
		--padding-explainer-card: 19px;
		--height-explainer-card: 55px;
	}
}

.vote-explainer-card {
	height: var(--height-explainer-card);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: var(--padding-explainer-card);
	padding-right: var(--padding-explainer-card);
	border-top: 1px solid rgba(76, 78, 98, 1);
}

.forward-button {
	transform: rotate(180deg);
	color: white;
	width: 10px;
}

.vote-explainer-card ion-card-subtitle {
	--color: white;
	margin-bottom: 0px;
	font-weight: 400;
	text-transform: none;
}
