
.vote-card-content {
	
	padding-left: 10px !important;
	padding-right: 10px;
}
.vote-chart-container {
	position: relative;
	justify-content: center;
	align-content: center;
	height: 20px;
	overflow: hidden;
	border-radius: 20px;
	border-width: 1px;
	border-style: solid;
	width: 103.5%;
}

.candidate-vote {
	position: absolute;
	width: 89px;
	height: 35px;
	color: white;
	padding: 10px;
	right: 0px;
	text-align: center;
	font-weight: 600;
	font-size: 16px;
}

.vote-ja {
	background-color: #14b83a;
}

.vote-nein {
	background-color: #de2b5e;
}

.vote-abstain {
	background-color: #19ace6;
}

.vote-none {
	background-color: #c4c4c4;
}

.vote-legend-circle {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin-right: 5px;
}
.vote-legend-text {
	font-size: 11px;
	font-weight: 600;
	color: #000000;
}

.vote-card ion-col {
	padding-bottom: 0px;
	padding-top: 2px;
}

.vote-card {
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #ffffff;
	height: 128px;
}
.vote-card-header {
	padding-top: 2px;
	padding-bottom: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
.vote-card-title {
	font-size: 16px;
}
.vote-card-subtitle {
	font-size: 14px;
}




.details-open {
	--height: 702px;
	--border-radius: 15px 15px 0 0;
	position:fixed;
	margin-bottom:-29.5%;
}


.title-div {
	height:115px;
	background-color: #e3e3e3 ;
}
.subtitle-styling {
	margin-top: 21px;
	margin-left: 20px;
	width: 126px;
	height: 14px;
	overflow: visible;
	color: #000000;
	font-size: 12px;
	letter-spacing: 0.5px;
	line-height: 1.2px;
	font-weight: 500;
	font-style:normal;
}
.title-styling {
	margin-top: 35px;
	margin-top: 20px;
	width: 239px;
	height: 16px;
	overflow: visible;
	color: #000000;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 1px;
	font-weight: 400;
	font-style:normal;
}



.abstract-div {
	height:163px;
}



.first-line-style {
	width: 345px;
	height: 2px;
	overflow: visible;
	background-color: #000000;
	opacity: 0.2;	
}



.reason-div {
	height:98px;
}



.second-line-style {
	width: 345px;
	height: 1px;
	overflow: visible;
	background-color: #000000;
	opacity: 0.2;
}



.result-div {
	height: 96px;
}



.round-chart-div {
	height: 230px;
}
