.discover-page {
	background-color: #1f1f1f;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
}

.search-logo {
	width: 174.13px;
	height: 52px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50%;
}
.search-bar {
	background: rgba(255, 255, 255, 0.1);
	border-radius: 8px;
	height: 50px;
	width: calc(100vw - 24px);
	margin: 8px 12px;
	font-size: 14px;
	line-height: 17px;
	font-family: 'protipo', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: #FFFFFF;
	opacity: 0.5;
	padding: 16px !important;
}

.camera-icon-background {
	position: fixed;
	background-color: rgba(212, 212, 212, 0.5);
	width: 130px;
	height: 130px;
	border-radius: 20px;
	top: 30%;
	left: calc((100% - 130px) / 2);
}

#camera-square {
	position: fixed;
	width: 90px;
	margin: 20px;
}

#camera-icon {
	position: fixed;
	width: 50px;
	margin: 40px;
}

.search-bar-icon {
	position: fixed;
	margin-left: 20px;
	margin-right: 20px;
	top: 55%;
	padding-left: 18px !important;
}

.popover {
	--width: 90vw;
	position: fixed;
	bottom: 20%;
}

.popover-content {
	background-color: red;
	left: 5% !important;
	top: 65% !important;
}
