version: '3.3'

services:
  traefik:
    image: traefik:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./traefik/traefik.toml:/etc/traefik/traefik.toml
      - ./traefik/acme:/etc/traefik/acme/
    networks:
      - traefik-public
    ports:
      - target: 80
        published: 80
        mode: host
      - target: 443
        published: 443
        mode: host
    deploy:
      mode: global
      placement:
        constraints:
          - node.role == manager
      update_config:
        parallelism: 1
        delay: 10s
        #order: stop-first
      restart_policy:
        condition: on-failure
      labels:
        #- "traefik.http.middlewares.auth.basicauth.users=admin:$apr1$giexeY58$nEtjvoxrgHtpl8OHLJRAB."
        - "traefik.enable=true"
        - "traefik.http.routers.api-http.rule=Host(`traefik.facethefacts.app`)"
        - "traefik.http.routers.api-http.entrypoints=web"
        - "traefik.http.routers.api-http.middlewares=redirect-web-to-websecure@internal"
        - "traefik.http.routers.api-https.rule=Host(`traefik.facethefacts.app`)"
        - "traefik.http.routers.api-https.entrypoints=websecure"
        - "traefik.http.routers.api-https.tls=true"
        - "traefik.http.routers.api-https.service=api@internal"
        - "traefik.http.routers.api-https.tls.certresolver=le"
        - "traefik.http.services.api.loadbalancer.server.port=8080"
        #- "traefik.http.routers.api.service=api@internal"
        #- "traefik.http.routers.api.middlewares=auth"
        #- traefik.port=8080
  agent:
    image: portainer/agent
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
    ports:
      - 9001:9001
    deploy:
      mode: global
      placement:
        constraints: [node.platform.os == linux]
      labels:
        - "traefik.enable=false"

networks:
  traefik-public:
    external: true
