.party-chip {
	font-family: 'protipo', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	text-align: center;
	letter-spacing: 0.7px;
	color: white;
	padding: 5px 8px;
	height: 24px;
	border-radius: 4px;
	margin: 0px;
	margin-right: 12px;
}

.gesamt {
	background-color: #636363;
	text-transform: capitalize;
}

.cdu {
	background-color: #636363;
	text-transform: uppercase;
}

.spd {
	background-color: #e95050;
	text-transform: uppercase;
}

.fdp {
	background-color: #faed0b;
	color: #181924;
	text-transform: capitalize;
}

.grüne {
	background-color: #61a056;
	text-transform: capitalize;
}
