:root {
	--padding-explainer-card-left: 16px;
	--padding-explainer-card-right: 3px;
	--height-explainer-card: 48px;
}
@media screen and (min-width: 360px) {
	:root {
		--padding-explainer-card-left: 19px;
		--padding-explainer-card-right: 6px;
		--height-explainer-card: 55px;
	}
}

.vote-explainer-card {
	height: var(--height-explainer-card);
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: var(--padding-explainer-card-left);
	padding-right: var(--padding-explainer-card-right);
	border-top: 1px solid rgba(76, 78, 98, 1);
}

.forward-button {
	color: #ffffff;
	font-size: 10px;
	margin: 0px;
}

.vote-explainer-card ion-card-subtitle {
	--color: white;
	margin-bottom: 0px;
	font-weight: 400;
	text-transform: none;
	font-size: 14px;
	line-height: 17px;
}

.explainer-modal {
	--background: rgb(0, 0, 0);
}

.explainer-modalcard-container {
	margin-top: auto;
	margin-bottom: auto;
}
