* {
	font-family: Inter;
	font-style: normal;
	font-weight: normal;
	color: #ffffff;
}

.about-us-content {
	padding: 50px 16px;
	background: rgba(24, 25, 36, 1);
}

.about-us-title {
	height: 29px;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */
	letter-spacing: -1px;
}

.about-us-sentences {
	/* small/text */
	font-size: 14px;
	line-height: 20px;
	/* or 143% */
	letter-spacing: 0.25px;
	margin-top: 20px;
}

.about-us-border {
	width: 288px;
	border: 1px solid rgba(255, 255, 255, 0.7);
	margin-top: 30px;
}

.about-us-team {
	height: 29px;
	font-size: 24px;
	line-height: 120%;
	/* identical to box height, or 29px */
	letter-spacing: -1px;
	margin-top: 30px;
}
